@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AcornBold';
  src: url('./assets/fonts/Acorn-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AcornLight';
  src: url('./assets/fonts/Acorn-Light.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root, .App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-bottom: 40vh;
}

:root {
  margin: 0 auto;
  text-align: center;
  font-family: AcornBold;
  color: #88D0A5;
  background-color: #2E463F;
}

body {
  overflow: overlay;
  overflow-x: hidden;
}


.hello {
  font-size: 400px;
  line-height: 1;
}

.name {
  font-size: 100px;
  line-height: .7;
}

.title {
  font-size: 68px;
}

.tagline {
  font-family: 'AcornLight';
  font-size: 30px;
  color: #E3DAC9;
}

.titlesection {
  font-size: 150px;
}

a, p {
  font-family: Avenir;
  font-weight: 400;
}